@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Elianto";
  src: url("/assets/fonts/Elianto-Regular.woff2") format("woff2"),
    url("/assets/fonts/Elianto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Thin.woff2") format("woff2"),
    url("/assets/fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ThinItalic.woff2") format("woff2"),
    url("/assets/fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Elianto", sans-serif;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.6em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

h2 {
  letter-spacing: 0.2em;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.radial-gradient {
  background: radial-gradient(
    96.77% 96.77% at 50% 50%,
    #c8addd 0%,
    rgba(175, 162, 192, 0) 100%
  );
}

.gradient-mauve {
  background: linear-gradient(
    90.7deg,
    rgba(106, 89, 116, 0.9) 15.33%,
    rgba(46, 32, 54, 0.9) 81.34%
  );
}
