@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Elianto";
  src: url("/assets/fonts/Elianto-Regular.woff2") format("woff2"),
    url("/assets/fonts/Elianto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Thin.woff2") format("woff2"),
    url("/assets/fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ThinItalic.woff2") format("woff2"),
    url("/assets/fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Elianto", sans-serif;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.6em;
}

h2 {
  letter-spacing: 0.2em;
}
